/* ===== Global Styles ===== */ 
body { 
  font-family: "goudy-bookletter 1911" , serif; 
  margin: 0; 
  padding: 0; 
  background-color: #a39d85a4; 
  color: #333333; 
  line-height: 1.6;
} 
 
.goudy-bookletter-1911-regular {
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: 400;
  font-style: normal;
}


header, footer { 
  background-image: url(../image/banner.png);
  text-align: center; 
  font-weight: 1000;
  color: #000000;
  margin-bottom: 20px; 
} 



/* ===== Header / Hero Section ===== */ 
h1 { 
  text-align: center; 
  margin-top: 40px; 
  font-size: 32px; 
} 
 
p { 
  text-align: center; 
  max-width: 600px; 
  margin: 10px auto; 
  font-size: 14px; 
} 




.schedule {
   text-align: center;}

        .schedule table { 
          text-shadow: none;
        text-align: right;
        width: 100%; 
        border-collapse: collapse; 
        margin-bottom: 20px; 
        } 



    table, th, td { 
    border: 2px solid black; 
    padding: 4px; 
    text-align: center; 
    } 
    

    th {
      color: black ;
  background-color: #b9b250f6;
}
 
td {
  color: black ;
  background-color: #f8f7f89f;

}

td:nth-child(odd) {
  color: black ;
background-color: #e02a2ac4
}


img { max-width: 50%;
max-height: 400px;}

video { max-width: 100%;
max-width: 100%;}
 
/* ===== Social Icons ===== */ 
.social-icons { 
  text-align: center; 
  margin: 20px 0; 
} 
 
.social-icons img { 
  width: 32px; 
  margin: 0 10px; 
  transition: transform 0.2s ease-in-out; 
} 
 
.social-icons img:hover { 
  transform: scale(1.50); 
} 